<div class="">
  <div id="piePagina">
     <div class="row container-fluid col d-flex justify-content-center">


       <!--1era COLUMNA-->
     <div class="container p-2 text-primary col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <h5>IATA Industry</h5>
        <div class="row align-items-center justify-content-center">
            <img class="medida" src="assets/img/iata2.bmp" alt="">
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col">
                 <p class="text-white p-2">From 57 founding members in 1945, IATA now represents some 275 airlines in over 117 countries.
                 Carrying 83% of the world’s air traffic, IATA members include the world’s leading passenger and cargo airlines.
                 IATA membership is open to airlines operating scheduled and non-scheduled air services that maintain an IATA Operational
                 Safety Audit (IOSA) registration.
                 </p>
            </div>
        </div>
     </div>
     <!--FIN 1era COLUMNA-->
     <!--2DA COLUMNA-->
     <div class="container p-2 text-primary col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <h5>About Us?</h5>
         <div class="row align-items-center justify-content-center">
             <img class="medida"src="assets/img/the_team_asi.jpg" alt="">
         </div>
          <div class="row align-items-center justify-content-center">
              <div class="col">
                  <p class="text-white p-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                      consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                  </p>
              </div>
          </div>
     </div>
     <div class="container p-2 text-primary col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <h5>Contact Us</h5>
         <div class="row align-items-center justify-content-center">
             <img class="medida" src="assets/img/acuerdo.jpg" alt="">
         </div>
        <div class="row align-items-center justify-content-center">
         <div class="col">
            <div class="text-white p-2 text-center">
                <p> Address: Av. Grau 271. Miraflores Lima-Perú</p>
                <p>Email: <a href="#">  asi@miatech.com</a></p>
                <p>Phone: 241-7000 anex 242</p>
            </div>
         </div>
        </div>
     </div>


        <!--FIN 2DA COLUMNA-->
        <!--3RA COLUMNA-->

     </div>


  </div>
  <div class=" container-fluid align-items-center footerfinal">
      <div class="col">
          <p class="align-bottom text-right text-muted">Copyright ASI 2018. v1.00 | All Rights reserved.</p>
      </div>
  </div>
</div>
