
.fondonavbar{
   background-color: #0B173B;
   font-family: cursive;
   width: 100%
   }
.estilomenu{
   color: white;
   font-size:16px;
   font-family: cursive;
}
.margenes{
   font-size:20px;
   color: white
}
p{
   color:black;
}
