<div class="">

  <nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-inverse container-fluid fondonavbar">
       <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
 
      <a class="navbar-brand" href="#"> <img src="assets/img/logo-nav1.png" height="30"alt=""> Assistance & Information Support</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navbar-nav ml-auto">
 
              <a id='home' class="nav-item nav-link active ml-2 r fondonavbar" [routerLink] = "['home']">Home</a>
              <a id='about' class="nav-item nav-link active ml-2 r fondonavbar" [routerLink] = "['mantenaice']">Mantenaice</a>
              <a id='search' class="nav-item nav-link active ml-2 r fondonavbar" [routerLink] = "['search']">Search</a>
              <!--<a id="break" class="nav-item nav-link active ml-2  fondonavbar" href="#">Break</a>-->
 
              <!--<a id="winBuscar"class="nav-item nav-link active ml-2 fondosearch" href="#">Search</a>-->
              <button class="btn btn-danger my-2 my-sm-0 fondologout" type="submit">Logout</button>
 
          </div>
      </div>
  </nav>
 </div>
 