<app-navbar></app-navbar>
<div class="fondomain">

  <div class="container">
     <h1 class="display-3">Mantenaice</h1>
     <p class="lead">This is the access module to modify the database, authorization is required ...</p>
      <div class="container" style= "width:auto;height:auto;">
      <!--"background-image:url('../../assets/img/fondomail.jpg'); background-size:contain;-->
         <form class="form-inline">
           <div class="form-group">
             <label class="sr-only">Email</label>
             <p class="form-control-static">user@example.com</p>
           </div>
           <div class="form-group mx-sm-3">
             <label for="inputPassword2" class="sr-only">Password</label>
             <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
           </div>
           <button type="submit" class="btn btn-primary">Confirm</button>
         </form>
      </div>
    <!--<img class="card" src="./assets/img/mantoavion.jpg" width="600" alt="Card image cap">-->
  </div>

</div>
<app-footer ></app-footer>
