body{
 width: auto;
}
.slider{
  background-size:cover;
  background-position: center;
  background-color:#0B3861;
  width: 100%;

}
.columna{
  border:1px #313030 solid;
}
.medida{
  height: 150px;
  width: 250px;
  margin-top: 5px;
}

.fondomain{
  background: url("src/assets/img/avion5.jpg");
   /*background-color:#F2F2F2;*/

  background-size:cover;

  min-height: 980px;
  width: 100%

  }
p{
  font-size:0.9rem;

   color:black
}
h5{
   text-align: center;
}
