<div class="container-fluid ">
  <div class="jumbotron jumbotron-fluid">
    <div class="container-fluid d-flex justify-content-center">
        <div class="container-fluid">
          <div class="row">
            <img src="../../../assets/img/CLEANER.jpg" alt="" width="70%" height="250">
          </div>
        </div>   
        <div class="container-fluid">
          <h2 class="display-3">Ooops!!! </h2>
          <h6 class="lead display-5 m-3">404  File Not Found</h6>
        </div>
        
    </div>

  </div>
</div>