<app-navbar></app-navbar>

<div class="  fondomain container-fluid  animated fast fadeIn">
    <div class="row">
        <!--<div class="container-fluid col-lg-12 col-md-12 col-sm-12 col-xs-12 col d-flex justify-content-center">-->


        <div class="col-lg-2 col-md-3" style="margin:0px;height:auto;">
           <div id="formulario" class="col-lg-12 col-md-12">
            <div  class="col-lg-12 col-md-12 container-fluid inputform caja" style="height:100%;margin:auto;width:100%;" cdkDrag>
                <form [formGroup]= "forma" (ngSubmit)="enviarform()" class="formbusqueda  animated  fast fadeIn">
                    <div class="col-md-12 text-center" style="margin:auto; font-family:cursive;font-size:12px;">
                        <h6>Flights Report</h6>
                    </div>
                    <div class="container-fluid intoform" style="">

                        <div class="container  form-group">
                            <br>
                            <label for="mcar">Market:  </label>
                            <input type="text" id="mcar" size="4" maxlength="2"  name="market" formControlName="market"/><br>


                            <label for="flight"> Flight : </label>
                            <input type="number" id="flight" size="4" maxlength="4"  name="flightini"  formControlName="flightini" /><br>

                        </div>
                        <br>
                        <div class="container  form-group">
                            <label for="ocar">Operat: </label>
                            <input  type="text" id="ocar" size="4" maxlength="2"  name="codope"  formControlName="codope"/><br>
                            <label for="flightnumberoperator">Flight :</label>
                            <input  type="number" id="flightnumberoperator" size="4" maxlength="4"  name="flightope"  formControlName="flightope"/><br>
                        </div>
                        <br>
                        <div class="container  form-group">
                            <label for="origen">Origin: </label>
                            <input type="text" id="origen" size="4" maxlength="4" name="origen"  formControlName="origen"/><br>

                            <label for="destino">Destin: </label>
                            <input  type="text" id="destino" size="4" maxlength="4" name="destino"  formControlName="destino"/><br>
                        </div>
                        <br>

                    </div>
                    <div class="row">
                        <!--onKeyUp="this.value=this.value.toUpperCase();"-->
                        <div *ngIf="view" class="container">
                            <button type="submit" class="btn btn-success btn-block " style="margin:2px;font-size:12px;">VIEW
                             <!--onclick="getFlight()"-->
                             </button>
                        </div>
                        <div *ngIf="hide" class="container">
                            <button (click)="closeTable()" type="button" class="btn btn-warning btn-block " style="margin:2px;font-size:12px;">HIDE
                             <!--onclick="getFlight()"-->
                             </button>
                        </div>
                    </div>
                </form>

            </div>
           </div>
            <br>
            <div id="chat" class="col-lg-12 col-md-12">

                <div class="row  contenedorchat caja"  style="" cdkDrag>
                    <div class="col-md-12 text-center" style="margin:auto;">
                        <h6>Users Online</h6>
                    </div>
                    <div class="container chat-window" style="background:white; color: black;border-radius:5px 5px 5px 5px;">
                        <div class="main-container app-mensajes" id="app-mensajes">
                            <div *ngFor="let chat of _cs.chats">
                                 <div [ngClass]="{'text-right ':_cs.usuario.uid != chat.uid }">
                                    <span class="badge" style="font-size:10px;font-family:tahoma;" [ngClass]="{'badge-primary':_cs.usuario.uid == chat.uid,
                                                  'badge-success':_cs.usuario.uid != chat.uid}">
                                       {{chat.nombre | slice:0:26 }}
                                     </span>
                                 </div>

                             <!-- <div [ngClass]="{'text-right ':_cs.usuario.uid != chat.uid }">{{chat.nombre | slice:0:26 }}</div>-->
                                <span style="font-size:8px;color:gray">{{chat.fecha | date:'medium'}} dice:</span><br>
                                <span> {{chat.mensaje}} </span>
                            </div>
                            <!-- <ul>
                             <li class="text" *ngFor="let item of items | async">
                               {{item.mensaje}}
                             </li>
                           </ul>
                           <div class="text-right">
                              <span class="badge badge-success">User</span>

                           </div>-->
                        </div>

                    </div>

                    <div class=" text-center" style="margin-top:10px;">
                        <input id="btn-input" type="text" class="form-control inputchat" name="mensaje" [(ngModel)]="mensaje" (KeyUp.enter)="enviarmensaje()" placeholder="Send message..." />
                        <br>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-10 col-md-9 container-fluid">
            <div class="row">
                <div class="container-fluid col-lg-12">

                    <app-loading *ngIf="loading" class="animated fast fideIn "></app-loading>
                    <div *ngIf="aviso" class="container-fluid d-flex justify-content-center" style="height:25px;">
                        <div class="row animated fadeIn fast">
                            <div class="container-fluid d-flex justify-content-center" style="width:100%;height:250px;">

                            </div>
                            <div class="container-fluid col d-flex justify-content-center ">
                                <div class="alert alert-info" role="alert" style="height:100px;opacity:0.85;">
                                    <p> <img src="./assets/img/aviso.jpg" alt="" style="opacity:0.35;width:100px;height:80px;"> There are no results for these search terms</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="container-fluid col-sm-12  align-items-center animated  fadein fast" style="">





                <div *ngIf="mostrar" class="container-fluid col-lg-12 col-sm-12 animated fadeIn" style="padding:0px;height:auto;max-height:550px;width:auto; margin-left:10px; margin-bottom:auto;">
                    <br>
                    <table class="table table-responsive align-middle" style="background:white;opacity:0.85;width:88%;border:1px solid black;margin-left:40px;padding:0px;overflow-y: scroll;height:auto;max-height:550px;margin-top:3%;"cdkDrag>
                        <thead class="" style="background-color:rgba(14, 10, 49, 0.945); color:white;z-index:1;margin:0px;font-size:10px; border:1px solid black;width:100%;cursor:pointer;">
                            <th> # </th>
                            <th> FLIGHT </th>
                            <th> ORIG </th>
                            <th> DEST </th>
                            <th> OPT </th>
                            <th> DATE </th>
                            <th> FQT </th>
                            <th>CLASS</th>
                            <th>COMMENTS</th>

                            <th> DEP </th>
                            <th> ARR </th>
                            <th> F.OPT </th>
                            <th> CREATED </th>
                            <!--<th style="width:10px;">ACTION</th>-->
                        </thead>

                        <tbody style="opacity:1;color:black;font-size:10px;max-height:450px; overflow-y: scroll;width:auto; ">
                            <tr *ngFor=" let clientes of flightFinal ;let i = index"cdkDrag>
                                <!--<th scope="row"></th>-->
                                <td scope="row"><strong>{{i+1}}</strong></td>
                                <td class="clasepointer">
                                    <a  target="_blank" (click)="seeFlight(clientes,'','width=850,height=700')" #tdvuelo >
                                    {{ clientes.market }} {{ clientes.flightini }}
                                    </a>
                                </td>
                                <td style="">{{ clientes.origen }}</td>
                                <td style="">{{ clientes.destino }}</td>
                                <td style="">{{ clientes.codope }}</td>
                                <td style="">{{ clientes.fechainit }}</td>
                                <td style="">{{ clientes.frecuencia }}</td>
                                <td class="clasetextarea">{{ clientes.clase | slice:1:100 }}</td>
                                <td class="clasetextarea">{{ clientes.comentario | slice:1:75 }}</td>

                                <td style="background:#F3F781;">{{ clientes.timedep }}</td>
                                <td style="background:#F3F781;">{{ clientes.timearr }}</td>
                                <td style="">{{ clientes.flightope }}</td>
                                <td style="">{{ clientes.fechareg }}</td>

                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>
            <br>
        </div>

    </div>
</div>
<app-footer></app-footer>
